:root{
   --main-black: #282828;
   --main-green: #98971A;
   --sec-green: #689D5A;
   --main-snow: #FBF1C7;
   --main-orange: #D65D0E;
   --main-yellow: #D79921;
   --main-red: #CC241D;
   --main-blue: #458588;
}
